# Export CSV et Logs 
logs/*
!logs/

# Dump SQL
sauvegarde/

# Fichiers varibles d'environnement
.env
.vscode/
.venv/
pytest_cache/

# Fichiers cache application
src/ntl_systoolbox/__pycache__
src/ntl_systoolbox/cli/__pycache__
src/ntl_systoolbox/core/__pycache__
src/ntl_systoolbox.egg-info
